---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Global/navbar.tsx";
import DropDownSetting from "../components/Setting/DropDownSetting.tsx";
import Popover from "../components/Global/popover";
import ProfilePopover from "../components/Profile/profile-popover.tsx";
import LogMoodFather from "../components/Mood/LogMoodContainer.tsx";
import Authentication from "../components/Auth/Authentication.tsx";
---

<Layout>
  <div class="flex flex-col min-h-screen bg-gradient-light w-full">
    <Authentication client:load />
  </div>
</Layout>
